::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#help {
    float: right;
}

#title {
    margin-top: 0.4pc;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0%);
    float: left;
    

}

td {
    background-color:#D8D8D8;
}
table { 
    border-collapse: collapse;
    width: 17.5pc;
}

tr {
    border-bottom-color: #101010;
    border-bottom-style: solid;
    border-left-color: #101010;
    border-left-style: solid;
    border-right-color: #101010	;
    border-right-style: solid;
}

.break {
    display: block; 
    content: "";
    margin-top: 0.6pc;
}


.stopId, .stopName, .time {
    background-color:#D8D8D8;
    border-color: #101010;
    color:black;
    font-weight: bold;
    padding-top: 0.25pc;
    padding-bottom: 0.25pc;
    font-size: large;
    text-align: center;
    border-style: solid;
}

#options {
    margin-left: 0.15pc;
    overflow: auto;
    overflow-x: hidden;
    width: 18.35pc;
    height: 14pc;
    margin-top:3pc;
}

.butt {
    display: inline;
    width: 1pc;
}



#butt {
    position: fixed;
    left:0.5pc;
    bottom: 0.5pc;
    background-color:#6698cb;
    border-radius:0.5pc;
    border: 2px solid #6698cb;
    display:inline-block;
    cursor:pointer;
    color: white;
    font-weight: bold;
    font-family:Arial;
    font-size:0.90pc;
    padding: 0.6pc 1pc;
    text-decoration:none;
    
}


#start:hover, #share:hover {
    background-color: #5b88b6;
}



#share, #directions {
    margin-top: 0.5pc;
    margin-bottom: 0.5pc;
    background-color:#282828;
    border-radius:0.5pc;
    border: 2px solid black;
    display:inline-block;
    cursor:pointer;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family:Arial;
    font-size:0.90pc;
    padding: 0.3pc 0.8pc;
    text-decoration:none;
    
}

#share:hover, #directions:hover {
    background-color: #404040;
}


.dir_mod {
	display: none;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.54pc;
    height: 18.54pc;
	background-color: rgba(0,0,0,0.5);

}

.content_modD {
	margin: 30% auto;
    background-color: #f4f4f4;
    color:black;
	padding: 20px;
    width: 70%;
}

#info_modD {
    text-align: center;
}



#no {
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

#no:hover {
	background-color:#c62d1f;
}

#yes {
	background-color:#38bd49;
	border-radius:6px;
	border:1px solid #39830e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #085722;
}

#yes:hover {
	background-color:#399431;
}
