table {
    margin-left: 0pc;
    margin-right: 0pc;
    border-collapse: collapse;
    width: 18.0pc;
    margin-bottom: 0.2pc;
}

#options {
    line-height: 1.5pc;
    width: 18.54pc;
    height: 14pc;
}

#title {
    position: fixed;
    width: 16.04pc;
    margin-top: 1pc;
    float: left;
    font-size: 1.2pc;
    font-weight: bold;
}

.stars {
    display: inline;
    width: 0.8pc;
}

#openImg {
    display: inline;
    width: 0.8pc;
}
.suggestions{
    width: 8pc;
    height: 6pc;
}

#open, #contact {
    margin-left: 1pc;
}

#share, #directions {
    margin-top: 0.5pc;
    background-color:#dcdcdc;
    border-radius:0.5pc;
    border:1px solid #8f8e8e;
    display:inline-block;
    cursor:pointer;
    color: black;
    font-family:Arial;
    font-size:1pc;
    padding: 0.6pc 1pc;
    text-decoration:none;
    text-shadow:0px 1px 0px #636060;
    
}

#share:hover, #directions:hover {
    background-color: rgb(177, 174, 174);
}