#time_lock {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 5pc;
    margin-bottom: 0;

}

#date_lock {
    margin-top: 0;
    margin-bottom: 1.5pc;
}

#fingerprint {
    width: 4pc;
    height: 4pc;
}