html {
	overflow: hidden;
    background-color: rgb(253, 242, 228);;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: dashed;
    width: 18.54pc;
    height: 18.54pc;
    border-color: black;
    background-color: snow;
}

#back {
    position: fixed;
    top: 10%;
    left: -3.75%;
    transform: translate(-50%, -50%);
    border-style: dashed;
    width: 7.5%;
    height: 15%;
    border-color: black;
}


#home {
    position: fixed;
    bottom: 10%;
    right: -3.75%;
    transform: translate(50%, 50%);
    border-style: dashed;
    width: 7.5%;
    height: 15%;
    border-color: black;
}

#info {
    height: 7.5%;
    border-bottom-style: dashed;
    border-bottom-color: black;
    background-color: RGB(211, 211, 211,0.5)
}

#time {
    margin-left: 0.2pc;
    margin-top: 0.2pc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1pc;
    float:left;

}

#rede, #wifi {
    margin-right: 0.2pc;
    margin-top: 0.2pc;
    float: right;
    height: 1pc;
}

#help {
    margin-right: 0.2pc;
    margin-top: 0.2pc;
    float: right;
    height: 1.5pc;

}

.help_mod {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18.54pc;
    height: 18.54pc;
	background-color: rgba(0,0,0,0.5);

}

.content_mod {
	margin: 35% auto;
	background-color: #f4f4f4;
	padding: 20px;
    width:70%;
}

#ok_mod{
    background-color:#dcdcdc;
    border-radius:6px;
    border:1px solid #8f8e8e;
    display:inline-block;
    cursor:pointer;
    color: black;
    font-family:Arial;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #636060;
    
}

#ok_mod:hover {
    background-color: rgb(177, 174, 174);
}


