#help {
    margin-bottom: 0;
    float: right;
}
#table {
    position: fixed;
    margin-top: 1pc;
    border-spacing: 1.5pc;
    margin-bottom: 2pc;
    left: 50%;
    transform: translate(-50%, 0%);
}
#restaurants, #parks, #bars, #monuments {
    width: 4.5pc;
}

.name {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 0.9pc;
   color: black;
   text-decoration: none;
}


