[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
C = "PT"
ST = "LX"
O = "MTR-PA"
CN = "localhost"

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = ::1
IP.2 = 127.0.0.1
IP.3 = 10.0.4.0
IP.4 = 10.0.4.1
IP.5 = 10.0.4.2
IP.6 = 10.0.4.3
IP.7 = 10.0.4.4
IP.8 = 10.0.4.5
IP.10 = 10.0.4.6
IP.11 = 10.0.4.7
IP.12 = 10.0.4.8
IP.13 = 10.0.4.9
IP.14 = 10.0.4.10
IP.15 = 10.0.4.11
IP.16 = 10.0.4.12
IP.17 = 10.0.4.13
IP.18 = 10.0.4.14
IP.19 = 10.0.4.15

